include                        LICENSE
include                        README.md
include                        conftest.py
recursive-include indexed_gzip *.py
recursive-include indexed_gzip *.pyx
recursive-include indexed_gzip *.pxd
recursive-include indexed_gzip *.c
recursive-include indexed_gzip *.h
