include                 *.c
include                 *.h
include                 *.pyx
include                 *.pxd
recursive-include tests *.py
recursive-include tests *.pyx
recursive-include tests *.c
exclude                 bench_plot.py
exclude                 benchmark_indexed_gzip.py
